.admin {
	display: flex;
	background: #f9f9f9;
	min-height: 100vh;
	/* background: #1d3a50; */
}

.admin__content-container {
	max-width: 1400px;
	padding: 25px 25px;
}

/* ---------- sidebar ---------- */
.admin__sidebar {
	background: #032234;
	color: white;
	width: 20%;
	padding: 25px 25px;
}

.admin__sidebar-content {
	float: right;
	text-align: end;
}

.admin__sidebar-logo {
	margin-bottom: 20px;
}

.admin__sidebar ul {
	display: flex;
	flex-direction: column;
}

.admin__sidebar li {
	margin: 5px 0;
}

.admin__sidebar a {
	color: white;
}

.admin__sidebar a:hover {
	color: #aeafa6;
}

/* ---------- content ---------- */
.admin__content {
	width: 80%;
	background: url(/img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* ---------- mobile ---------- */
@media (max-width: 50rem) {
	.admin {
		flex-direction: column;
	}

	.admin__content {
		width: 100%;
		min-height: 100vh;
	}

	.admin__sidebar {
		width: 100%;
		padding: 10px 25px;
	}

	.admin__sidebar-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		float: none;
	}

	.admin__sidebar-logo {
		margin-bottom: 0;
	}

	.admin__sidebar ul {
		flex-direction: row;
	}
	.admin__sidebar li {
		margin: 0 5px;
	}
}
